@if (!loading()) {
<div
  class="h-full transition-opacity duration-500 selection:bg-vault-purple/30 selection:text-vault-purple-bright flex flex-col"
>
  <nav
    class="z-50 w-full px-8 py-6 flex items-center justify-between transition-all duration-700"
    [class.absolute]="router.url.includes('/auth') || router.url === '/' || router.url === ''"
    [class.sticky]="!router.url.includes('/auth') && router.url !== '/' && router.url !== ''"
    [class.top-0]="true"
    [class.glass]="!router.url.includes('/auth') && router.url !== '/' && router.url !== ''"
    [class.border-b]="!router.url.includes('/auth') && router.url !== '/' && router.url !== ''"
    [class.border-white/5]="!router.url.includes('/auth') && router.url !== '/' && router.url !== ''"
  >
    <div class="flex items-center gap-8">
      <span class="text-xl font-black tracking-tighter cursor-pointer animate-slide-in-left" (click)="router.navigate(['/'])">
        Vaulton<span class="text-vault-purple">.</span>
      </span>
    </div>


    @if (router.url.includes('/vault')) {
      <div class="flex items-center gap-4 animate-fade-in">
        <button class="btn-secondary !py-2 !px-4 !text-xs" (click)="router.navigate(['/auth'])">Lock Vault</button>
      </div>
    }
  </nav>

  <main
    class="w-full h-full flex flex-col"
    [class.auth-layout]="router.url.includes('/auth') || router.url === '/' || router.url === ''"
    [class.max-w-7xl]="router.url.includes('/vault')"
    [class.mx-auto]="router.url.includes('/vault')"
    [class.py-8]="router.url.includes('/vault')"
  >
    <router-outlet></router-outlet>
  </main>
</div>
} @else {
<div class="h-screen bg-vault-black flex items-center justify-center">
  <div
    class="w-12 h-12 border-4 border-vault-purple/20 border-t-vault-purple rounded-full animate-spin"
  ></div>
</div>
}
